{{#first}}
	<p>Player 1 chose {{first}}.</p>
{{/first}}

{{#second}}
	<p>Player 2 chose {{second}}.</p>
{{/second}}

{{#winner}}
	<p>{{winner}}</p>
{{/winner}}

{{^winner}}
	<section>
		<h1>Enter your email address and choose one</h1>
		<form method="post" action="">
			<input type="email" name="email" />

			<input type="submit" name="choice" value="Rock" />
			<input type="submit" name="choice" value="Paper" />
			<input type="submit" name="choice" value="Scissors" />
		</form>
	</section>
{{/winner}}
