<html>
	<head>
		<title>Roshambo Game</title>

		{{^finished}}
			<script type="text/javascript">
				function mkRequest() {
					var s = document.createElement('script');
					s.type = 'text/javascript';
					s.src = '?callback=reloadOnFinished&_accept=text/javascript';
					document.body.appendChild(s);
				}

				function reloadOnFinished(data) {
					if(data.finished) {
						window.location.reload();
					} else {
						setTimeout(function(){mkRequest();}, 1000);
					}
				}

				window.onload = mkRequest;
			</script>
		{{/finished}}
	</head>

	<body>
		{{#finished}}
			{{#choices}}
				<p>{{email}} chose {{choice}}.</p>
			{{/choices}}
		{{/finished}}

		{{#winner}}
			<p>{{winner}} wins!</p>
		{{/winner}}

		{{#finished}}
			{{^winner}}
				It's a tie!
			{{/winner}}
		{{/finished}}

		{{^finished}}
			<section>
				<h1>Enter your email address and choose one</h1>
				<form method="post" action="">
					{{{form}}}
				</form>
			</section>
		{{/winner}}
	</body>
</html>
